<%if current_user%>
  <% @orders.each do |order| %>
    <div class="centered">
      <%= link_to "#{order.customer.Street__c}, #{order.customer.Zipcode__c}", order_path(order), :class => "btn btn-large btn-primary"  %>
    </div><br />
  <%end%>
<%else%>
	<div class="home-buttons">
		<%= link_to "Sign up", sign_up_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Log in", log_in_path, class: "btn btn-default btn-lg" %>
	</div>
<%end%>