<%if current_user%>
  <% @orders.each do |order| %>
    <%= link_to "#{order.customer.Name}", order_path(order), :class => "button"  %><br />
  <%end%>
<%else%>
	<div class="home-buttons">
		<%= link_to "Sign up", sign_up_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Log in", log_in_path, class: "btn btn-default btn-lg" %>
	</div>
<%end%>