<div>
  <h3><%= @order.id %></h3>
  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>
  <%  %>
    <tr>
      <td>Weight</td>
      <td><%= @order.Weight__c %></td>
    </tr>
    <tr>
      <td>Weight</td>
      <td><%= @order.Weight__c %></td>
    </tr>
  </table>
</div>