body {
	background-image: url('./texture_graphite_black.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

/* Logo */
.logo {
	text-align: center;
	margin-top: 5%;
	font-size: 56px;
	font-family: 'Princess Sofia', cursive;
	color: #cccccc;
}

/* Login / Signup Page */
.home-buttons, .signup, .signin{
  width: 80%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.home-buttons a, .signup input, .signin input {
	width: 80%;
	min-width: 96px;
	max-width: 192px;
	margin: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-left: auto;
	padding-right: auto;
	font-opacity: 0.5
}

.centered {
  text-align: center;
}